# Telegram bot token from @BotFather
FF_BOT_TOKEN=7792196548:AAHaWkIJXqnWxj51IJm0SI4_DWDpiMOCfiU

# Set to "1" to only allow FF_ADMINS users. "0" = public.
FF_ADMIN_ONLY=1

# Comma-separated Telegram user IDs or usernames allowed to use the bot.
FF_ADMINS=6936293942